
h1 {
    font-size: 5px;    
}
.container { 
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}
#gameboard {
    display:grid;
    grid-template-columns: auto auto auto;
   
    background:rgb(66, 59, 59);
    margin-top: 40px;
    padding: 1px;
    
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    color: #ffffff;
   
    font-size: 120px;
    border: 2px solid;
}

 
button {
    
    border-radius: 5px;
   
    font-size: 18px;
   
    font-weight: 600;
}
